matplotlib
jupyterlab
gym
stable_baselines3
pylint-report
pylint
pytest
pytest-cov
pytest-reportlog
pytest-html
Sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon
sphinxcontrib-bibtex
sphinxcontrib-websupport
sphinx-copybutton
